@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gemini {
    background: linear-gradient(61deg, #217BFE 0.0%, #078EFB 27.0%, #A190FF 78.0%, #BD99FE 100.0%);
    background-clip: text;
    color: transparent;
    animation: gemini 5s linear infinite;
    background-size: 200% 200%;
}

.gemini-light {
    color: rgba(255, 255, 255, 0.87);
}

.gemini-button {
    background: linear-gradient(61deg, #217BFE 0.0%, #078EFB 27.0%, #A190FF 78.0%, #BD99FE 100.0%);
    animation: gemini 5s linear infinite;
    background-size: 200% 200%;
}

.gemini-button:hover {
    background: #202020;
}

@keyframes gemini {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.menu {
    z-index: 100;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.selection-title {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 0.02em;
    color: #f9f1cc;
    text-shadow:
        2px 2px 0 #f9a271,
        4px 4px 0 #fcd777,
        6px 6px 0 #f66b6b,
        8px 8px 0 #ef333e,
        10px 10px 0 #3284b9,
        12px 12px 0 #654ea7;
}

@media only screen and (max-width: 600px) {
    .selection-title {
        font-size: 3rem;
        text-shadow:
            1px 1px 0 #f9a271,
            2px 2px 0 #fcd777,
            3px 3px 0 #f66b6b,
            4px 4px 0 #ef333e,
            5px 5px 0 #3284b9,
            6px 6px 0 #654ea7;
    }
}

.quiz-mode-title {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.02em;
    color: #f9f1cc;
    line-height: 1.55rem;
    text-shadow:
            1px 2px 0 #f9a271,
            2px 2px 0 #fcd777,
            3px 3px 0 #f66b6b,
            4px 4px 0 #ef333e,
            5px 5px 0 #3284b9,
            6px 6px 0 #654ea7;
}

.selection-card-title {
    color: #f9f1cc;
}

.toast {
    z-index: 100;
}

.profile-user {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191;
    z-index: 100;
    text-align: center;
}

.loading-xl {
    width: 3.5rem;
}

.quiz-option {
    padding-top: 20px;
    font-size: 70pt;
    font-family: 'Luckiest Guy', cursive;
    line-height: 4rem;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px -6px 0 #212121,
    0px -6px 0 #212121,
    0px  6px 0 #212121,
    0px  6px 0 #212121,
    -6px  0px 0 #212121,
    6px  0px 0 #212121,
    -6px  0px 0 #212121,
    6px  0px 0 #212121,
    -6px -6px 0 #212121,
    6px -6px 0 #212121,
    -6px  6px 0 #212121,
    6px  6px 0 #212121,
    -6px  18px 0 #212121,
    0px  18px 0 #212121,
    6px  18px 0 #212121,
    0 19px 1px rgba(0,0,0,.1),
    0 0 6px rgba(0,0,0,.1),
    0 6px 3px rgba(0,0,0,.3),
    0 12px 6px rgba(0,0,0,.2),
    0 18px 18px rgba(0,0,0,.25),
    0 24px 24px rgba(0,0,0,.2),
    0 36px 36px rgba(0,0,0,.15);
}

.gemini-loading-wrapper {
    width: 300px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gemini-loading-circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0%{
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top: 0%;
    }
}

.gemini-loading-circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.gemini-loading-circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.gemini-loading-shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}

.gemini-loading-shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.gemini-loading-shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.gemini-loading-wrapper span {
    position: absolute;
    top: 75px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    letter-spacing: 8px;
    color: #fff;
    left: 6%;
}

.vue-flow__edges path {
    stroke-width: 2;
    stroke: url(#gradient-stroke) #217BFE;
}

.home-title {
    font-family: 'Montserrat', cursive;
    font-weight: 400;
}

.vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media only screen and (max-width: 1230px) {
    .card {
        margin-bottom: 24px;
    }
}
