@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gemini {
    background: radial-gradient(circle, #4285f4, #d96570);
    background-clip: text;
    color: transparent;
    animation: gemini 15s linear infinite;
    background-size: 200% 200%;
}

.gemini-button {
    background: radial-gradient(circle, #4285f4, #d96570);
    animation: gemini 15s linear infinite;
    background-size: 200% 200%;
}

.gemini-button:hover {
    background: #202020;
}

@keyframes gemini {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.menu {
    z-index: 100;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.selection-title {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 0.02em;
    color: #f9f1cc;
    text-shadow:
        2px 2px 0 #f9a271,
        4px 4px 0 #fcd777,
        6px 6px 0 #f66b6b,
        8px 8px 0 #ef333e,
        10px 10px 0 #3284b9,
        12px 12px 0 #654ea7;
}

.quiz-mode-title {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.02em;
    color: #f9f1cc;
    line-height: 1.55rem;
    text-shadow:
            1px 2px 0 #f9a271,
            2px 2px 0 #fcd777,
            3px 3px 0 #f66b6b,
            4px 4px 0 #ef333e,
            5px 5px 0 #3284b9,
            6px 6px 0 #654ea7;
}

.selection-card-title {
    color: #f9f1cc;
}

.toast {
    z-index: 100;
}

.profile-user {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191;
    z-index: 100;
}

.loading-xl {
    width: 3.5rem;
}
